h1 {
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    color: #b83f45;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.new-todo,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px #0003;
    box-sizing: border-box;
}

.new-todo {
    padding: 16px 16px 16px 60px;
    height: 65px;
    border: none;
    background: rgba(0, 0, 0, .003);
    box-shadow: inset 0 -2px 1px #00000008;
}

.todos-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
}

.todos-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &:hover {
        background-color: #eee;
    }

    input[type="checkbox"] {
        width: 32px;
        height: 32px;
        margin-right: 20px;
    }

    .btn-delete-todo {
        display: none;
    }

    &:hover .btn-delete-todo {
        display: inline;
        cursor: pointer;
        width: 32px;
        height: 32px;
        border: 0;
        border-radius: 50%;
        font-size: 24px;
        background-color: lightpink;
    }
}

.todos-status-and-filter-bar {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

.done {
    text-decoration: line-through;
}